---
BasedOnStyle: WebKit
IndentWidth: 4
ColumnLimit: 80
---
Language: C

BreakAfterReturnType: TopLevel

SeparateDefinitionBlocks: Always

PointerAlignment: Middle

IndentPPDirectives: AfterHash
PPIndentWidth: 4

AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false

AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false

AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false

---
Language: Cpp

BreakAfterReturnType: TopLevel

SeparateDefinitionBlocks: Always

PointerAlignment: Middle

IndentPPDirectives: AfterHash
PPIndentWidth: 4

AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false

AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false

AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
...
